<div class="panel panel-default">
  <div class="panel-body">
    <h4> Lincoln High School </h4>
    <p> Incident Reporting Page </p><br><br>

    <%= render 'detailed_form', incident: @incident %> <br>
    <%= link_to 'Simple Incident Reporting Page', new_incident_path %>
  </div>
</div>
